[submodule "chainer_gan_lib"]
	path = chainer_gan_lib
	url = https://github.com/pfnet-research/chainer-gan-lib.git
[submodule "animeface"]
	path = animeface
	url = https://github.com/nagadomi/lbpcascade_animeface.git
